.sidebar {
  width: 200px;
  padding: 10px;
  padding-top: 100px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100%;
  color: black;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  color: black;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar ul li.active {
  padding-top: 5px;
  background-color: #50BC82; 
  color: white; 
  font-weight: bold;
  height: 35px;
  border-radius: 10px;
}


/* Remove default link styles */
.sidebar ul li a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set the text color to black */
  display: block; /* Ensure the link takes up the full space of the list item */
  padding: 10px 0; /* Add padding to ensure consistent spacing */
}